{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <nav>
      <div class="heading">
        <h4>GameNightZ</h4>
      </div>
      <ul class="nav-links">
        <li><a class="active-page" href="/">Home</a></li>
        <li><a href="/aboutuz">AboutUz</a></li>
        <li><a href="/eventz">Evenz</a></li>
        <li><a href="/locationz">Locationz</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/login">LogIn</a></li>
      </ul>
    </nav>
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label:'Email'
        }) }}
        {{ form_row(registrationForm.userName) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.dateOfBirth) }}
        {{ form_row(registrationForm.gender) }}
        {{ form_row(registrationForm.preferredGames) }}
        {{ form_row(registrationForm.attends) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
