{% extends 'base.html.twig' %}

{% block title %}Hello EventzController!{% endblock %}

{% block body %}
<nav>
      <div class="heading">
        <h4>GameNightZ</h4>
      </div>
      <ul class="nav-links">
        <li><a class="active-page" href="/">Home</a></li>
        <li><a href="/aboutuz">AboutUz</a></li>
        <li><a href="/eventz">Evenz</a></li>
        <li><a href="/locationz">Locationz</a></li>
        <li><a href="/faq">FAQ</a></li>
        {% if app.user %}
            {% if 'ROLE_USER' in app.user.getRoles() %}
                <li><a href="/userz">UserZ</a></li>
                {% endif %}
            {% endif %}
        <li><a href="/login">LogIn</a></li>
      </ul>
    </nav>
<h1>EvenZ</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Slots</th>
                <th>AgeRating</th>
                <th>DateAndTime</th>
                <th>Describtion</th>
                <th>FeaturedGames</th>
                <th>Visitors</th>
               
            
                
                
            </tr>
        </thead>
        <tbody>
        {% for game_night in game_nights %}
            <tr>
                
                <td>{{ game_night.name }}</td>
                <td>{{ game_night.slots }}</td>
                <td>{{ game_night.ageRating }}</td>
                <td>{{ game_night.dateAndTime ? game_night.dateAndTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ game_night.describtion }}</td>
                <td>
                    {% if game_night.games != null %}
                     {% for games in game_night.games %} 

                    {{ games.name}} 
                    {% endfor %}
                    
                    {% endif %}
                </td>
                <td>
                    {% if game_night.visitors != null %}
                    {% for visitors in game_night.visitors %} 

                    {{ visitors.userName}} 
                    {% endfor %}
                    {% endif %}
                </td>
                
                
                    
                    
                
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
