{% extends 'base.html.twig' %}

{% block title %}Hello UserZController!{% endblock %}

{% block body %}
<nav>
      <div class="heading">
        <h4>GameNightZ</h4>
      </div>
      <ul class="nav-links">
        <li><a class="active-page" href="/">Home</a></li>
        <li><a href="/aboutuz">AboutUz</a></li>
        <li><a href="/eventz">Evenz</a></li>
        <li><a href="/locationz">Locationz</a></li>
        <li><a href="/faq">FAQ</a></li>
        {% if app.user %}
            {% if 'ROLE_USER' in app.user.getRoles() %}
                <li><a href="/userz">UserZ</a></li>
                {% endif %}
            {% endif %}
        <li><a href="/login">LogIn</a></li>
      </ul>
    </nav>
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>UserName</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>DateOfBirth</th>
                <th>Gender</th>
                <th>PreferredGames</th>
                <th>Attends</th>
                
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.userName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.dateOfBirth ? user.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ user.gender }}</td>

                <td>
                {% if user.preferredGames != null %}
                {% for preferredGames in user.preferredGames %} 

                {{ preferredGames.name}} 
                {% endfor %}
                {% endif %}
                </td>
                <td> 
                {% if user.attends != null %}
                {% for attends in user.attends %} 

                {{ attends.name}} 
                {% endfor %}
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
